<div class="container-sm p-5">
  <form action="/answer" data-turbo="false">
    <div class="mb-3">
      <p for="question" class="form-label">Ask your coach anything:</p>
      <input type="text" class="form-control" id="question" name="question">
    </div>
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
